
.spinner {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

blockquote {
  margin-left: 50px;
}


h3 i {
  font-weight: normal;
}

.uk-disabled {
  border: 3px solid gray;
  background-color: white;
  color: #333333 !important;
}

.source-content {
  margin: 5px;
  border: 1px solid gray;
  padding: 5px;
  background-color: #EEEEEE;
}

.references a:hover {
  background: lighten(#2F5F00, 70%) !important;
}