<div class="uk-section-default uk-section">
  <div class="uk-container">
    <h2 i18n="@@zrdbQuery">KI-Servicestelle AI Act Chatbot</h2>
  </div>

  <div class="uk-container">
    <div class="uk-container">
      <p class="uk-text-large uk-margin-top">
        Sie haben Fragen zum AI Act und regulatorischen Rahmenbedingungen zu AI?
        <br />
        Unser <a href="rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html#Unser%20RAG-Chatbot%20beantwortet%20Ihre%20Fragen!" target="_blank">RAG-Chatbot</a> (<i
          >&bdquo;Retrieval-Augmented Generation&ldquo;</i
        >) beantwortet Ihre Fragen!
      </p>

      <h3>Stellen Sie Ihre Frage!</h3>
      <form class="uk-form uk-padding-remove">
        <p>
          <label class="uk-margin-medium-bottom">Ihre Frage: </label>
        </p>
        <div style="position: relative">
          <textarea
            class="uk-input user-input"
            placeholder="Stellen Sie uns Ihre Frage zum AI Act"
            [style.height]="'auto'"
            style="resize: none"
            [(ngModel)]="userPrompt"
            name="userPrompt"
            (input)="onInput($event)"
            [maxlength]="maxLength"
            [disabled]="step != 'done' && step != 'initial'"
          ></textarea>
          <small
            style="position: absolute; bottom: 5px; right: 10px; color: #888"
          >
            {{ userPrompt.length }}/{{ maxLength }}
          </small>
          <a class="user-input-suggestion" *ngIf="userPrompt == ''" (click)="userPrompt=placeholderPrompt;answerQuery()">
            z.B.: &ldquor;{{placeholderPrompt}}&ldquo;
          </a>
        </div>
        <div #captchaContainer class="frc-captcha uk-grid-margin"></div>
        <a
          class="uk-button uk-button-large uk-grid-margin uk-button-primary"
          [ngClass]="
            (step == 'initial' || step == 'done') &&
            isCaptchaCompleted &&
            backendAvailable
              ? ''
              : 'uk-disabled'
          "
          (click)="answerQuery()"
          >Frage stellen</a
        >

        <div class="uk-alert-danger" uk-alert *ngIf="!backendAvailable">
          <p>
            Der Service ist aktuell nicht verfügbar. Bitte versuchen Sie es
            später erneut.
          </p>
        </div>
      </form>
      <p class="text-muted">
        <a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html">Weitere technische Informationen zum Chatbot</a>
      </p>
    </div>
    <div *ngIf="step != 'initial'" id="modelContent">
      <div class="uk-container uk-margin-top-50">
        <h3>
          <img
            src="assets/buffering.gif"
            class="spinner"
            *ngIf="step == 'research'"
          />
          <span *ngIf="step != 'research'">&check;</span>
          Relevante Quellen erheben <i>(&ldquor;<b>R</b>etrieve&rdquor;)</i>
        </h3>

        <ul
          uk-accordion
          class="uk-accordion ac-content"
          *ngIf="sources.length > 0"
        >
          <li class="">
            <a class="uk-accordion-title anchor" aria-expanded="true">
              <b>
                <ng-container>{{ getTotalSources(sources) }}</ng-container>
                möglicherweise relevante Quellen identifiziert</b
              >
            </a>
            <div class="uk-accordion-content">
              <div>
                <i>Hinweis: </i> {{ getNotSkippedSources(sources) }} in
                schwarzer Schrift abgebildete Dokumente werden zur
                Fragenbeantwortung herangezogen. Grau abgebildete Einträge
                überschreiten das
                <abbr
                  title="Die maximal mögliche Länge an Text, die an ein Sprachmodell übergeben werden kann"
                  >Kontextfenster</abbr
                >
                und bleiben deshalb unberücksichtigt. Die angeführte Prozentzahl
                beschreibt die semantische Ähnlichkeit des Dokuments zur
                gestellten Frage.
                <br />
                <p *ngIf="tokensUsedFormatted.length > 0">
                  Gesamtanzahl der verwendeten
                  <abbr title="Kleine Texteinheiten von mehrern Buchstaben"
                    >Token</abbr
                  >: {{ tokensUsedFormatted }}
                </p>
              </div>
              <ol class="references">
                <li *ngFor="let source of sources; let i = index">
                  <a
                    (click)="toggleAccordion(i + 1)"
                    [style.color]="
                      source.skip_reason === 'context_window'
                        ? 'darkgray'
                        : 'black'
                    "
                    [style.font-style]="
                      source.skip_reason === 'duplicate' ? 'italic' : 'normal'
                    "
                  >
                    <span *ngIf="source.skip_reason === 'duplicate'"
                      >(DUPLIKAT)&nbsp;</span
                    >{{ source.title || "Quelle" }}

                    ({{ formatScore(source.score) }}) ({{ source.num_tokens }}
                    Token)
                  </a>
                  <div
                    id="content-{{ i + 1 }}"
                    class="source-content uk-hidden"
                    style="margin-left: 20px"
                  >
                    {{ source.content }}
                  </div>

                  <ol style="margin-left: 20px" class="sub-references">
                    <li
                      *ngFor="let chunk of source.relevantChunks; let j = index"
                    >
                      <a
                        (click)="toggleAccordion((i + 1) * 1000 + j)"
                        [style.color]="
                          chunk.skip_reason === 'context_window'
                            ? 'darkgray'
                            : 'black'
                        "
                        [style.font-style]="
                          chunk.skip_reason === 'duplicate'
                            ? 'italic'
                            : 'normal'
                        "
                      >
                        <span *ngIf="chunk.skip_reason === 'duplicate'"
                          >(DUPLIKAT)</span
                        >
                        {{ chunk.title.length > 0 ? chunk.title : chunk.id }}

                        ({{ chunk.num_tokens }} Token)
                      </a>
                      <div
                        id="content-{{ (i + 1) * 1000 + j }}"
                        class="source-content uk-hidden"
                        style="margin-left: 20px"
                      >
                        {{ chunk.content }}
                      </div>
                    </li>
                  </ol>
                </li>
              </ol>
            </div>
          </li>
        </ul>
        <p *ngIf="sources.length > 0">
          <i><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html#Information:%20Wie%20werden%20relevante%20Quellen%20erhoben?">Information: Wie werden relevante Quellen erhoben?</a></i>
        </p>
      </div>

      <div class="uk-container uk-margin-top-50">
        <h3>
          <img
            src="assets/buffering.gif"
            class="spinner"
            *ngIf="step == 'prompt'"
          />
          <span *ngIf="step == 'done' || step == 'output'">&check;</span>
          Prompt erstellen <i>(&ldquor;<b>A</b>ugment&rdquor;)</i>
        </h3>
        <ul
          uk-accordion
          class="uk-accordion ac-content"
          *ngIf="prompt.length > 0"
        >
          <li class="">
            <a class="uk-accordion-title anchor" aria-expanded="true">
              <b>Prompt</b>
            </a>
            <div class="uk-accordion-content">
              <p>
                Basierend auf den gefundenen Quellen wurde ein Prompt erstellt.
                Dieses setzt sich aus den möglicherweise relevanten Quellen im
                Volltext, einem System Prompt sowie Ihrer Frage zusammen. Dieses
                Prompt wird zur Fragenbeantwortung an ein Sprachmodell (<abbr
                  title="Large Language Model"
                  >"LLM"</abbr
                >) übergeben.
              </p>
              <div class="prompt" [innerHTML]="prompt"></div>
            </div>
          </li>
        </ul>
          <p *ngIf="sources.length > 0">
              <i><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html#Augment%20%E2%80%93%20Wie%20ist%20ein%20RAG-Prompt%20aufgebaut?" target="_blank">Information: Wie ist ein Prompt aufgebaut?</a></i>
          </p>
      </div>

      <div class="uk-container uk-margin-top-50">
        <h3>
          <img
            src="assets/buffering.gif"
            class="spinner"
            *ngIf="step == 'output'"
          />
          <span *ngIf="step == 'done'">&check;</span>
          Antwort erstellen <i>(&ldquor;<b>G</b>enerate&rdquor;)</i>
        </h3>
        <div
          class="uk-alert-primary"
          *ngIf="step == 'output' && queueMessage.length > 0"
        >
          <p>
            <ng-container>{{ queueMessage }}</ng-container>
          </p>
        </div>
        <div
          class="first-token-progress"
          [ngClass]="firstTokenProgressPercent == 100 ? 'first-token-done' : ''"
          [style.width]="firstTokenProgressPercent + '%'"
        ></div>
        <div
          class="answer"
          *ngIf="step == 'output' || step == 'done'"
          [ngClass]="step == 'done' ? 'answer-done' : ''"
        >
          <div
            class="uk-text-center"
            *ngIf="step == 'output' && displayAnswer.length == 0"
          >
            <img
              src="assets/buffering.gif"
              class="spinner"
              style="height: 100px; width: 100px"
            />
          </div>
          <div class="chat-answer" *ngIf="displayAnswer.length > 0">
            <p [innerHTML]="displayAnswer"></p>
          </div>
        </div>
      </div>

      <form
        *ngIf="step == 'done'"
        class="uk-form uk-padding-remove uk-margin-top"
      >
        <p class="uk-margin-remove-bottom">
          <strong>Wichtiger Hinweis: </strong> Bitte beachten Sie, dass diese
          Antwort von einer KI nur auf Grundlage des obigen Prompts erstellt
          wurde und möglicherweise Fehler enthalten kann. Für fachkundige
          Unterstützung steht Ihnen das (menschliche) Team der
          <a href="https://ki.rtr.at" target="_blank">KI-Servicestelle</a> gerne
          zur Verfügung.
        </p>

        <p class="uk-margin-remove-top">
          <a class="uk-button uk-button-primary" [href]="mailtoLink">
            Feedback zu dieser Antwort senden
          </a>
        </p>
      </form>
      <span *ngIf="step == 'done'">
        <p>
          <strong>Energieverbrauch: </strong> Diese Fragenbeantwortung hat einen
          Stromverbrauch von
          <strong
            >{{ totalProQuery.toFixed(6).replace(".", ",") }}
            <abbr title="Kilowattstunden">kWh</abbr></strong
          >
          verursacht. Mit dieser Energiemenge kann etwa ein
          <abbr title="Modell mit 2,2 kW Leistung">Haarföhn</abbr> für
          <i
            >{{
              (((totalProQuery * 1000) / 2200) * 60 * 60)
                .toFixed(2)
                .replace(".", ",")
            }}
            Sekunden</i
          >
          betrieben, oder ein
          <abbr title="5000 mAh Kapazität">Handyakku</abbr> um
          <i
            >{{
              (((((totalProQuery * 1000) / 5) * 1000) / 5000) * 0.8 * 100)
                .toFixed(2)
                .replace(".", ",")
            }}&nbsp;%</i
          >
          aufgeladen werden.
        </p>
      </span>
      <ul uk-accordion class="uk-accordion ac-content" *ngIf="step == 'done'">
        <li class="">
          <a class="uk-accordion-title anchor" aria-expanded="true">
            <b>Detaillierte Infos zum Energieverbrauch</b>
          </a>
          <div class="uk-accordion-content">
            <div class="table-container">
              <table class="uk-table uk-table-hover">
                <thead>
                  <tr>
                    <th><span uk-icon="bolt"></span> Energieverbrauch</th>
                    <th class="uk-text-right">Prozessor (CPU)</th>
                    <th class="uk-text-right">Grafikkarte (GPU)</th>
                    <th class="uk-text-right">Arbeitsspeicher (RAM)</th>
                    <th class="uk-text-right">Gesamt</th>
                    <th class="uk-text-right">Dauer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of powerData">
                    <td>{{ row.label }}</td>
                    <td class="uk-text-right">
                      {{ row.cpu_kWh.toFixed(6).replace(".", ",") }}&nbsp;kWh
                    </td>
                    <td class="uk-text-right">
                      {{ row.gpu_kWh.toFixed(6).replace(".", ",") }}&nbsp;kWh
                    </td>
                    <td class="uk-text-right">
                      {{ row.ram_kWh.toFixed(6).replace(".", ",") }}&nbsp;kWh
                    </td>
                    <td class="uk-text-right">
                      {{ row.total_kWh.toFixed(6).replace(".", ",") }}&nbsp;kWh
                    </td>
                    <td class="uk-text-right">
                      {{ row.duration.toFixed(2).replace(".", ",") }}&nbsp;Sek.
                    </td>
                  </tr>
                  <tr>
                    <td><strong>Gesamt</strong></td>
                    <td class="uk-text-right">
                      <strong style="word-break: keep-all"
                        >{{
                          totalConsumption.cpu_kWh.toFixed(6).replace(".", ",")
                        }}&nbsp;kWh</strong
                      >
                    </td>
                    <td class="uk-text-right">
                      <strong style="word-break: keep-all"
                        >{{
                          totalConsumption.gpu_kWh.toFixed(6).replace(".", ",")
                        }}&nbsp;kWh</strong
                      >
                    </td>
                    <td class="uk-text-right">
                      <strong style="word-break: keep-all"
                        >{{
                          totalConsumption.ram_kWh.toFixed(6).replace(".", ",")
                        }}&nbsp;kWh</strong
                      >
                    </td>
                    <td class="uk-text-right">
                      <strong style="word-break: keep-all"
                        >{{
                          totalConsumption.total_kWh
                            .toFixed(6)
                            .replace(".", ",")
                        }}&nbsp;kWh</strong
                      >
                    </td>
                    <td class="uk-text-right">
                      <strong style="word-break: keep-all"
                        >{{
                          totalConsumption.duration
                            .toFixed(2)
                            .replace(".", ",")
                        }}&nbsp;Sek.</strong
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              Der Stromverbrauch wurde direkt auf Hardware-Ebene gemessen, die
              angegebenen Zahlen entsprechen den dort vorliegenden Daten. Der
              <abbr title="Power Usage Effectiveness">PUE-Wert</abbr> beträgt
              zwischen 1,10 und 1,16. Seitens des Rechenzentrums wird ein
              ausschließlich auf erneuerbare Energien abgestellter Strommix
              verwendt. Der durchschnittliche CO<sub>2</sub>-Ausstoß im
              Hosting-Land Deutschland lag zuletzt bei rund 425g CO<sub>2</sub>
              pro kWh.
            </div>
          </div>
        </li>
      </ul>
        <p *ngIf="sources.length > 0">
            <i><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html#Energieverbrauch" target="_blank">Information: Wie wird der Stromverbrauch berechnet?</a></i>
        </p>
    </div>
    <div class="uk-container uk-margin-top-50">
      <h4>Hintergrundinformationen zum AI Act Chatbot</h4>
      <ul>
        <li>
          <a href="https://www.rtr.at/rtr/footer/Datenschutz.de.html"
            >Datenschutzerklärung</a
          >
        </li>
        <li><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/recht.de.html#Rechtliche%20Einsch%C3%A4tzung%20nach%20dem%20AI%20Act">Analyse des AI Act Chatbot nach dem AI Act</a></li>
        <li><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/recht.de.html#Datenschutzrechtliche%20Aspekte%20des%20AIA%20RAG%20der%20KI-Servicestelle">Datenschutzrechtliche Aspekte des AI Act Chatbots</a></li>
        <li><a href="https://www.rtr.at/rtr/service/ki-servicestelle/chat/technik.de.html">Technische Hintergrundinformationen</a></li>
        <li>
          <a href="https://github.com/rtr-ai/aia-rag"
            >Source Code und Softwarelizenzen</a
          >
        </li>
        <li>
          <a href="https://github.com/rtr-ai/aia-rag/tree/main/data"
            >Im AI Act verfügbare Datenbasis</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
